:root {
    --purple: #4b0a57;
    --Gray: #1e1926;
    --lightPurple: #FFF6FF;
    --Gold: #fdb951;
    font-family: "Texturina",
        serif;
    background-color: var(--lightPurple);
    display: grid;
}

footer {
    display: block;
    background-color: var(--purple);
    color: white;
    padding: 3px;
    margin-top: 2rem;
}

footer p {
    display: block;
    justify-self: center;
}

img {
    border: 5px ridge var(--Gold);
    margin: 5px;
}

main {
    min-height: 400px;
}

h2 {
    display: block;
    justify-self: center;
}

.message {
    max-width: 400px;
    margin: 0 auto;
    border: 3px double var(--Gold);
    padding: 20px;
    background-color: white;
}

.message legend {
    color: var(--purple);
    margin-top: 20px;
    text-decoration: underline;
}

.message label {
    color: var(--Gray);
}

.message input[type="text"],
input[type="tel"],
input[type="email"],
.message textarea {
    display: block;
    border: solid 1px var(--purple);
    width: 100%;
}

.message input[type="submit"] {
    max-width: 400px;
    width: 60%;
    display: flex;
    justify-self: center;
    padding: 5px;
    margin: 10px;
}

.message input:required {
    border-bottom: solid var(--purple) 3px;
}

.vocabulary h3,
.vocabulary p {
    margin: 10px;
}

.levels h2 {
    text-align: center;
}

.levles h3 {
    margin-bottom: 5px;
}

.levels p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.levels section {
    display: grid;
    place-items: center;
    grid-gap: 25px;
    width: 300px;
    align-items: start;
}

.imgSec {
    display: grid;
    place-items: center;
    grid-gap: 20px;
}

.levels figure {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.levels img {
    height: 300px;
    margin: 10px;
}

.levels figcaption {
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.aboutDres section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.modern {
    display: flex;
    flex-direction: column-reverse;
}

.aboutDres img {
    width: 100%;
    height: auto;
}

.aboutDres figure {
    display: table;
    margin: 0;
}

.aboutDres figcaption {
    text-align: center;
    display: table-caption;
    caption-side: bottom;
    font-size: smaller;
}

.aboutWeb {
    padding: 10px;
}

.vocab {
    margin: 10px;
}

.vocab h3 {
    font-style: italic;
}

header {
    display: grid;
    background-color: var(--purple);
    color: white;
}

nav {
    display: flex;
}

.navigation {
    max-width: 850px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
}

.navigation a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--purple);
    padding: 10px 20px;
}

#menu {
    background-color: var(--purple);
    text-decoration: none;
    font-size: 1.5rem;
}

#menu::before {
    content: "≡";
    padding-left: 15px;
    color: white;
}

#menu.open::before {
    content: "X";
    color: white;
}

.open a {
    display: block;
    color: white;
    margin: 0;
}

.navigation a:hover {
    text-decoration: underline;
}

#submitCount {
    display: none;
}

.sent {
    text-align: center;
    font-size: larger;
}

#ref {
    text-decoration: none;
    color: white;
}

#ref:hover {
    text-decoration: underline;
}

@media screen and (min-width: 400px) {
    header {
        display: block;
        background-color: var(--purple);
        color: white;
        width: 100%;
    }

    #menu {
        display: none;
    }

    h1 {
        display: block;
        justify-self: center;
    }

    .navigation {
        border-top: 1px solid var(--Gold);
        border-bottom: 1px solid var(--Gold);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: larger;
        align-items: center;
        list-style: none;
        padding: 5px;
        width: 100%;
    }

    .navigation a {
        padding: 5px;
        display: block;
        flex: 1 1 100%;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .levels section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100%;
    }

    .imgSec {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 10px;
        width: 100%;
    }

    .levels figure {
        display: flex;
        flex-direction: column;
        margin: 0;

    }

    .levels img {
        height: 350px;
        width: auto;
        margin: auto 0 auto;
    }

    .levels figcaption {
        margin: 10px;
        text-align: center;
        padding: 10px;
    }

    .aboutDres {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .aboutDres section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutDres section p {
        display: flex;
        flex-basis: 50%;
        margin: 0;
    }

    .history img {
        display: flex;
        height: auto;
        width: 300px;
    }

    .modern {
        margin-top: 30px;
        align-items: center;
    }

    .modern img {
        display: flex;
        width: 300px;
        height: auto;
    }
}