h1,
footer {
    display: block;
    text-align: center;
}

p {
    display: block;
    margin: 0 auto;
    width: 400px;
}

picture {
    display: block;
    margin: 0 auto;
    background-color: black;
    overflow: hidden;
    width: 400px;
    border: 5px solid white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fade 5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}