:root {
    --blue: rgba(0, 37, 81);
    --red: rgba(200, 16, 37);
    --white: white;
    --box-background: rgba(219, 215, 215, 0.85);
    background-color: var(--blue);
    font-family: "Caudex", serif;
}

.hero img {
    width: 100%;
    height: auto;
}

header {
    display: block;
    background-color: var(--blue);
    border-bottom: solid var(--red);
}

#title {
    display: block;
    justify-self: center;
    align-content: center;
    color: var(--white);
    padding: 10px;
    font-weight: 700;

}

.weather img {
    height: 75px;
    align-self: center;
}

h2 {
    align-self: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    padding-bottom: 10px;
    color: var(--blue);
}

section p {
    display: flex;
    align-items: baseline;
    margin: 5px;
}

.weather {
    border-bottom: solid var(--red);
}

.data {
    border-top: solid var(--red);
}

.item {
    flex: 1;
    text-align: right;
    padding-right: 3px;
    font-weight: 700;
}

.value {
    flex: 1;
    text-align: left;
    padding-left: 3px;
}

footer {
    background-color: var(--blue);
    color: var(--white);
    display: block;
    padding: 10px;
}

footer p {
    display: flex;
    justify-content: center;
}


@media only screen and (min-width:750px) {
    h2 {
        background-color: var(--blue);
        color: var(--white);
        border-bottom: solid var(--red);
        align-self: flex-start;
        margin: 5px 0;
        font-size: 1.5rem;
        width: 200px;
    }

    main {
        position: relative;
        display: inline-block;
    }

    section {
        background-color: var(--box-background);
        width: 250px;
        height: fit-content;
        padding-bottom: 10px;
    }

    .weather {
        position: absolute;
        bottom: 5%;
        right: 2%;
        border-bottom: none;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: "⛅";
    }

    .data {
        position: absolute;
        top: 5%;
        left: 2%;
        border-top: none;
    }
}